.svg-line-container{
    height: 200%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 200;
    svg{
        padding-top: 17%;
        display: inline-block;

    }
}

.hero-container{
    min-height: 95vh;
    width: 100%;
    overflow: hidden;
    background: url('../img/hero-background.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 40%;
    z-index: 0;
    .hero-left{
        display: flex;
        height: 80%;
        flex-direction: column;
        padding-left: 10%;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: 0;
        .hero-title{
            color:  rgb(202, 202, 202);
            font-size: 100px;
            font-weight: 400;
            margin: 50px 0 20px 0;
        }
        .hero-text{
            color: rgb(202, 202, 202);
            font-size: 25px;
        }
        .hero-button{
            color: rgb(202,202,202);
            height: 70px;
            width: 300px;
            font-size: 25px;
            padding: 15px;
            background-color: rgb(39, 39, 39);
            border: none;
            margin-top: 80px;
            z-index: 300;
        }
    }
    .hero-right{
        height: 60%;
        width: 50%;
        background-color: rgba($color: rgb(177, 177, 177), $alpha: 0.5);
        z-index: 20;
        position: absolute;
        bottom: 0%;
        right: 0%;
        color: #000000;
        .hero-subtitle{
            text-align: center;
            font-weight: 400;
            font-size: 50px;
            margin: 30px;
        }
        .adventure-list{
            .adventure-item{
                padding: 10px;
            }
            list-style: none;
            h4{
                font-size: 30px;
            }
            p{
                font-size: 22px;
                color: rgba($color: #000000, $alpha: 0.85) ;
            }
        }
    }
}

.activities-section{
    width: 100%;
    .activities-container{
        min-height: 100vh;
        align-content: center;
        .background-text-big{
            display: block;
            width: 60vw;
            font-family: 'Alex Brush', cursive;
            position: absolute;
            color: rgba(#a8a8a8,0.1);
            font-size: 250px;
            top: 100vh;
            left: 5vw;
        }
        .background-text-medium{
            display: block;
            width: 65vw;
            font-family: 'Alex Brush', cursive;
            position: absolute;
            color: rgba(#a8a8a8,0.1);
            font-size: 150px;
            top: 130vh;
            left: 30vw;
        }
        .background-text-small{
            display: block;
            width: 60vw;
            font-family: 'Alex Brush', cursive;
            position: absolute;
            color: rgba(#a8a8a8,0.1);
            font-size: 100px;
            top: 150vh;
            left:35vw;
        }
        .background-text-medium-bottom{
            display: block;
            width: 85vw;
            font-family: 'Alex Brush', cursive;
            position: absolute;
            color: rgba(#a8a8a8,0.1);
            font-size: 150px;
            top: 170vh;
            left: 10vw;
        }
        .activity-item{
            height: 400px;
            width: 400px;
            margin: auto;
            margin-top: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .act-title{
                padding: 20px;
            }
            p{
                padding: 20px;
                font-size: 15px;
            }
        }
        #surf{
            background: url('../img/surf.jpg');
            background-size: cover;
            background-position: center;
        }
        #snowboard{
            background: url('../img/snowboard.jpg');
            background-size: cover;
            background-position: center;
        }
        #hike{
            background: url('../img/hike.jpg');
            background-size: cover;
            background-position: center;
        }
        #parachute{
            background: url('../img/parachute.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}