<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="styles/destiny.css">
    
</head>
<body>
    <%- include('partials/nav')%>

    <section class="destiny-hero">
        <svg class="butterfly-svg" width="468" height="390" viewBox="0 0 468 390" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="destiny-svg">
                <g id="lotus">
                    <path id="Vector"
                        d="M133.078 318.441C132.514 317.458 131.757 316.598 130.854 315.914C129.95 315.229 128.918 314.733 127.819 314.456C122.978 313.237 117.954 312.913 112.997 313.5C114.279 306.251 113.806 298.8 111.616 291.772C110.976 289.773 109.616 288.083 107.799 287.032C105.982 285.981 103.839 285.645 101.788 286.088C96.8511 287.181 92.1417 289.122 87.8687 291.825C84.4625 284.65 79.4006 278.386 73.1 273.55C71.6322 272.438 69.8413 271.837 68 271.837C66.1587 271.837 64.3678 272.438 62.9 273.55C56.5994 278.386 51.5375 284.65 48.1312 291.825C43.8583 289.122 39.1489 287.181 34.2125 286.088C32.1609 285.645 30.0179 285.981 28.201 287.032C26.3841 288.083 25.0235 289.773 24.3844 291.772C22.1942 298.8 21.7205 306.251 23.0031 313.5C18.0455 312.913 13.0223 313.237 8.18125 314.456C7.08326 314.733 6.0521 315.227 5.14905 315.91C4.24601 316.594 3.48951 317.451 2.92454 318.433C2.35956 319.414 1.99764 320.499 1.86029 321.623C1.72294 322.746 1.81296 323.887 2.125 324.975C3.98437 331.669 9.72187 344.472 27.1469 354.512C44.5719 364.553 59.7656 364.5 67.9469 364.5H68.0531C76.2344 364.5 91.5344 364.5 108.853 354.512C126.172 344.525 132.016 331.669 133.875 324.975C134.183 323.888 134.272 322.75 134.135 321.628C133.998 320.506 133.639 319.422 133.078 318.441V318.441ZM103.541 294.428C105.028 298.891 106.409 306.913 103.381 317.219L103.222 317.803C101.992 321.795 100.298 325.628 98.175 329.225C95.5984 333.672 92.4948 337.793 88.9312 341.497C91.6406 335.122 93.5 327.312 93.5 317.75C93.544 311.71 92.7027 305.696 91.0031 299.9C94.7865 297.278 99.0453 295.419 103.541 294.428V294.428ZM68 280.35C73.1 284.175 85 295.438 85 317.75C85 340.062 72.9406 351.537 68 355.15C63.0594 351.537 51 340.328 51 317.75C51 295.172 62.9 284.175 68 280.35V280.35ZM32.4594 294.428C36.9547 295.419 41.2135 297.278 44.9969 299.9C43.2973 305.696 42.456 311.71 42.5 317.75C42.5 327.312 44.3594 335.122 47.0687 341.497C43.5052 337.793 40.4016 333.672 37.825 329.225C35.6917 325.615 33.9974 321.762 32.7781 317.75L32.6187 317.272C29.5375 306.913 30.9719 298.891 32.4594 294.428V294.428ZM10.2531 322.691C13.5469 321.841 18.7 321.203 25.3406 322.372C26.6891 326.233 28.4152 329.952 30.4937 333.475C35.0492 341.346 41.0303 348.3 48.1312 353.981C42.2633 352.481 36.6316 350.175 31.3969 347.128C16.6281 338.575 11.8469 328.109 10.2531 322.691V322.691ZM104.603 347.128C99.3684 350.175 93.7367 352.481 87.8687 353.981C94.9697 348.3 100.951 341.346 105.506 333.475C107.585 329.952 109.311 326.233 110.659 322.372C115.635 321.417 120.755 321.508 125.694 322.637C124.153 328.109 119.372 338.575 104.603 347.128V347.128Z"
                        fill="#E5E5E5" stroke-width="2" />
                </g>
                <g id="buttefly">
                    <path class="path" id="Vector 1"
                        d="M68.5 275.5C67 258.5 65.8085 236.447 73.5 218.5C79.5 204.5 96 186 114 172.5C114 172.5 154 145 188 150.5C216.312 155.08 250 151.5 265 145C272.167 143.5 286.6 136.7 287 121.5C287.4 106.3 277.167 98.4995 272 96.4995C265.167 93.6662 249.1 92.0995 239.5 108.5C232 122.5 240.239 133.738 243 136.5C263.5 157 308.5 134.5 332 128L365 118C372 114.5 385.8 103.4 385 86.9996C384.2 70.5996 371.333 60.4996 365 57.4996C359.167 55.1662 344.4 52.8996 332 62.4996C319.6 72.0996 319.167 87.1662 320.5 93.4996C322 100.5 329.2 115.2 346 118C367 121.5 396 108.5 408.5 93.4996C416.5 82 422.3 68.6992 425.5 57.4996"
                        stroke="#E4E4E4" stroke-width="2" stroke-linecap="round" stroke-dasharray="4 4" />
                    <g id="buttefly_2">
                        <path id="Vector 4"
                            d="M425.775 57.005C428.567 60.5378 439.585 64.7665 445.25 59.2321C450.915 53.6978 451.033 49.2988 449.396 46.7796C451.717 47.8067 456.513 45.3624 458.959 41.3907C461.323 38.7513 465.373 31.6647 466.657 24.4792C467.191 21.4852 463.65 13.0502 455.274 14.346C446.257 15.741 443.745 16.7119 438.211 19.6476L439.775 14.1654C440.128 12.5028 439.905 10.6892 437.822 10.1425C435.828 9.61929 434.828 9.6075 433.793 12.5956L432.235 17.578C429.293 12.5434 423.881 4.97988 419.41 2.42758C416.927 1.00961 415.43 0.681045 411.417 1.83436C408.907 2.63853 404.865 6.25838 403.76 15.2461C403.554 18.5773 403.238 25.7407 403.614 27.7453C404.085 30.2509 407.038 34.2856 408.532 34.8031C407.029 35.1189 404.102 37.3516 404.428 43.7558C404.753 50.1601 408.811 53.8076 410.799 54.8308C413.619 56.0304 420.366 57.7425 424.798 54.9939"
                            stroke="#E4E4E4" stroke-width="2" stroke-linecap="round" />
                        <path id="Vector 3"
                            d="M447.312 40.5544C448.014 41.3285 450.46 41.4485 454.627 35.7357C456.947 32.5554 459.658 29.7315 460 27C460.273 24.825 460.245 22.5523 460 21.5C458.633 19.6696 450.159 21.1196 444.525 24.3696C440.537 26.6701 437.261 28.0945 434.847 32.3347L430.713 49.6328C431.199 54.401 435.451 55.6989 437.517 55.7518C441.262 56.1998 443.676 51.9596 444.159 51.1115C445.627 48.5323 442.74 43.566 440.531 43.4312C438.763 43.3233 438.068 42.4033 437.941 41.9569C436.888 40.7957 437.154 39.0648 439.492 37.2252C441.562 35.5965 445.332 38.6785 447.312 40.5544Z"
                            stroke="#E4E4E4" stroke-width="2" />
                        <path id="Vector 2"
                            d="M410 23C409.2 15.8 412.333 10.3334 414 8.50003C416.108 7.56317 421.19 12.2496 424.5 18C426.843 22.0704 429 25 429 30L424 47.5C421.2 51.5 416.833 50.5 415 49.5C411.5 48 411.5 43 411.5 42C411.5 38.9586 416.5 36 418.5 37C420.1 37.8 421.167 37.3334 421.5 37C423 36.5 423.63 34.8239 422.5 32C421.5 29.5 416.667 30.3334 414 31C413 31.3334 410.8 30.2 410 23Z"
                            stroke="#E4E4E4" stroke-width="2" />
                    </g>
                </g>
            </g>
        </svg>
        <div class="left">
            <div class="left-container">
                <h2 class="title">Start your journey</h2>
                <p class="destiny-text gsap-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit incidunt natus
                    reprehenderit harum ratione! Perferendis, earum magnam Dignissimos, fuga rem laudantium, nostrum veritatis
                    delectus ipsa, sequi quibusdam sapiente voluptate minima.</p>
            </div>
        </div>
        <div class="right"><h3 class="phrase">Everyone has a dream place... Lets make that dream became true</h3></div>
    </section>
    <section class="destiny-options-section">
        <svg class="svg-plane" width="700" height="920" viewBox="0 0 596 817" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M224.142 140.351L207.032 157.466L353.038 170.018L440.869 82.1564C454.557 68.4637 479.652 47.9246 516.153 25.1034C552.655 2.28213 576.609 -4.56424 585.734 4.56425C610.829 29.6676 585.734 78.7332 510.45 152.902L423.759 239.623L436.306 385.679L453.416 369.704C467.104 354.87 481.933 354.87 493.34 366.281C507.028 379.973 501.325 399.371 473.948 426.757L446.572 455.284L460.26 553.415L479.652 532.876C492.199 519.183 505.887 519.183 518.435 530.594C532.123 544.286 529.841 561.402 511.591 579.659L470.526 620.737C486.496 730.279 488.777 791.897 476.23 804.448C470.526 809.013 462.542 813.577 451.135 815.859C440.869 817 431.744 815.859 426.04 811.295C421.478 805.589 414.634 785.05 407.79 749.677C399.805 713.163 380.414 651.546 346.194 564.825C313.114 476.964 289.16 427.898 277.753 415.346C273.191 410.782 266.347 410.782 258.362 415.346C250.377 418.77 221.861 442.732 176.234 487.233C130.607 532.876 88.4025 569.39 48.4791 597.916C47.3384 604.763 50.7604 627.584 56.4638 665.239C62.1671 702.894 64.4485 727.997 63.3078 737.126C61.0265 746.254 51.9011 758.806 37.0724 773.64C29.0877 781.627 23.3844 786.191 17.681 787.332C2.85236 772.499 -19.961 724.574 -50.7591 645.841C-136.309 608.186 -183.077 584.223 -192.202 575.095C-192.202 570.531 -187.639 563.684 -179.655 555.697C-164.826 540.863 -152.279 531.735 -142.013 530.594C-132.887 528.311 -108.933 531.735 -71.2911 538.581C-33.649 544.286 -10.8357 546.568 -2.85098 546.568C24.5251 505.49 75.8552 445.014 155.702 365.14C178.515 340.036 185.359 324.061 177.375 316.074C165.968 303.522 115.779 280.701 29.0877 247.61C-58.7437 214.52 -119.199 192.839 -155.701 185.993C-192.202 178.006 -212.734 172.3 -217.297 166.595C-223 162.031 -224.141 152.902 -221.859 141.492C-220.719 130.081 -216.156 122.094 -210.453 116.388C-199.046 104.978 -137.45 106.119 -26.805 122.094L13.1184 81.0154C31.3691 63.8994 48.4791 61.6173 62.1671 75.3101C74.7145 86.7207 73.5738 100.413 61.0265 112.965L40.4944 132.363L138.592 146.056L165.968 119.811C193.344 92.426 212.735 86.7207 226.423 100.413C238.971 112.965 237.83 125.517 224.142 140.351Z" fill="#D2D2D2" fill-opacity="0.11"/>
        </svg>            
        <svg class="svg-suitcase" width="266" height="763" viewBox="0 0 266 763" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M333.175 294.613H288.756V272.709H269.321V37.0055H293.838V0H85.6842V37.0055H110.124V272.709H90.6889V294.613H46.2499C33.9896 294.672 22.2416 302.649 13.5722 316.802C4.90278 330.956 0.0164307 350.135 -0.0195312 370.15V647.374C0.0164307 667.389 4.90278 686.568 13.5722 700.721C22.2416 714.875 33.9896 722.852 46.2499 722.911H59.6673C59.6673 728.171 60.302 733.38 61.5351 738.24C62.7682 743.1 64.5755 747.516 66.854 751.236C69.1324 754.955 71.8374 757.906 74.8143 759.919C77.7913 761.932 80.9819 762.968 84.2041 762.968C87.4264 762.968 90.617 761.932 93.594 759.919C96.5709 757.906 99.2759 754.955 101.554 751.236C103.833 747.516 105.64 743.1 106.873 738.24C108.106 733.38 108.741 728.171 108.741 722.911H270.256C270.256 728.171 270.89 733.38 272.124 738.24C273.357 743.1 275.164 747.516 277.442 751.236C279.721 754.955 282.426 757.906 285.403 759.919C288.38 761.932 291.57 762.968 294.793 762.968C298.015 762.968 301.205 761.932 304.182 759.919C307.159 757.906 309.864 754.955 312.143 751.236C314.421 747.516 316.229 743.1 317.462 738.24C318.695 733.38 319.329 728.171 319.329 722.911H333.214C345.475 722.852 357.222 714.875 365.892 700.721C374.561 686.568 379.448 667.389 379.484 647.374V370.15C379.448 350.135 374.561 330.956 365.892 316.802C357.222 302.649 345.475 294.672 333.214 294.613H333.175ZM117.991 37.0055H261.434V272.709H241.999V294.613H137.426V272.709H117.991V37.0055ZM73.5715 611.163L38.9473 548.438L141.204 398.095L175.906 460.788L73.5715 611.163ZM215.184 352.824H270.704V437.453H215.184V352.824ZM285.523 649.694C275.27 649.694 265.248 644.731 256.723 635.432C248.198 626.133 241.554 612.915 237.63 597.451C233.707 581.987 232.68 564.971 234.68 548.555C236.68 532.138 241.618 517.059 248.867 505.223C256.117 493.387 265.354 485.327 275.41 482.062C285.466 478.796 295.889 480.472 305.361 486.878C314.833 493.283 322.929 504.13 328.626 518.047C334.322 531.965 337.362 548.327 337.362 565.065V565.224C337.357 587.624 331.904 609.105 322.202 624.944C312.499 640.784 299.342 649.686 285.62 649.694H285.523Z" fill="#989CA0" fill-opacity="0.25"/>
        </svg>
        <h2 class="title">Choose your type of Destiny</h2>
        <ul class="destiny-list">
            <li class="destiny-item scroll-item"id="winter">
                <h3 class="item-title">Winter Holidays</h3>
                <p class="item-text">Hot chocolate, a nice fire & a lots
                    storytellings...</p>
            </li>
            <li class="destiny-item high-pos scroll-item" id="summer">
                <h3 class="item-title">Summer Holidays</h3>
                <p class="item-text">Frozen mojito, nights parties & 
                    meeting new people...</p>
            </li>
            <li class="destiny-item scroll-item" id="adventure">
                <h3 class="item-title">Adventure Holidays</h3>
                <p class="item-text">How much are you ready to risk
                    in order to discover new places?</p>
            </li>
        </ul>
    </section>
    <%- include('partials/footer')%>
    <!-- DESTINY PAGE ANIMATIONS -->
    <script src="scripts/destiny.js" type="text/javascript"></script>
</body>
</html>